<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reporting.mvmr">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher01"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="reporting.mvmr.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="reporting.mvmr.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="reporting.mvmr.Home"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="reporting.mvmr.ScreenOnReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="reporting.mvmr.ListennerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remoteMVMR" />

        <receiver
            android:name="reporting.mvmr.ScreenOffReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="reporting.mvmr.Survey"
            android:label="@string/title_activity_survey"
            android:parentActivityName="reporting.mvmr.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reporting.mvmr.Home" />
        </activity>

        <receiver
            android:name="reporting.mvmr.WakeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="reporting.mvmr.Report"
            android:label="@string/title_activity_report"
            android:parentActivityName="reporting.mvmr.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reporting.mvmr.Home" />
        </activity>
        <activity
            android:name="reporting.mvmr.Contacts"
            android:label="@string/title_activity_contacts"
            android:parentActivityName="reporting.mvmr.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reporting.mvmr.Home" />
        </activity>
        <activity
            android:name="reporting.mvmr.RateActivity"
            android:label="@string/title_activity_rate"
            android:parentActivityName="reporting.mvmr.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reporting.mvmr.Home" />
        </activity>
    </application>

</manifest>